* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
  font-weight: bolder;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px;
}

/* Home Sections */
#Home {
  display: flex;
  flex-direction: column;
  height: 840px;
  justify-content: center;
  align-items: center;
  color: black;
}
#Home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("./images/img1.JPG") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.Main {
  display: flex;
  border: 2px solid black;
  align-items: center;
  position: absolute;
  top: 15%;
  right: 10%;
}
.headings {
  font-family: century;
  font-size: 3rem;
  text-align: center;
  margin: 40px opx;
}
.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: brown 1px solid;
  color: black;
  outline: none;
  transition: 0.5s ease;
}
.btn:hover section {
  cursor: pointer;
  background-color: black;
  color: black;
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
  font-weight: bold;
}
/*about section*/

/* Portfolio Section */
#portfolio {
  display: flex;
  flex-direction: column;
}
.gallery {
  display: flex;
}
.gallery img {
  width: 360px;
  height: 240px;
}
